.app-container {
  background-color: #81a3a7;
  height: 100vh;
}
.todo-container {
  background-color: #272424;
  max-width: 600px !important;
}
.todo-item {
  background-color: #c2d3da;
  color: #000;
}
